.background {
    -fx-background-color: #fff0b3;
}
.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;
}
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}